# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# bun
/drizzle
/migrations
sqlite.db
**/*.bun
.env
.wrangler
.dev.vars

# misc
.DS_Store
*.pem
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
